.home-container {
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.home-container .main-button {
    padding: 1em 2em;
    background-color: tomato;
    color: black;
    border-radius: 10px;
    text-decoration: none;

}