.flex-container-table {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 20px 30px;
}

.filterButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}